**PRACTICE EXERCISES 1**

# 1. Write a Python program which accepts the radius of a circle from the user and compute the area.

In [2]:
import math
math.pi
r = float(input("Enter the radius"))
area = math.pi*(r**2)
print("Area of a circle is ", area)

Enter the radius3
Area of a circle is  28.274333882308138

#2. Write a Python Program to accept the details of a student like name, roll number and mark and display it.

In [4]:
name = input("Enter the name")
roll_no = int(input("Enter the roll number"))
mark = int(input("Enter the mark"))
print('Name: ', name)
print("Roll No: ", roll_no)
print("Mark: ", mark)

Enter the nameMerin
Enter the roll number37
Enter the mark56
Name:  Merin
Roll No:  37
Mark:  56

#3. Write a Python program to get the largest number from a list.

In [5]:
l=int(input('enter the length of the list'))
list=[]
for i in range(l):
  num=int(input())
  list.append(num)
print(list)

largest_number = list[0]
for number in list:
  if number > largest_number:
    largest_number = number
  else:
    continue
print(largest_number)

enter the length of the list4
12
3
47
10
[12, 3, 47, 10]
47

#4. Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number and previous number.

In [6]:
for current_number in range(1,11):
  if current_number == 1:
    previous_number = 0
  else:
    previous_number = current_number -1
  sum = current_number + previous_number
  print("Current number= ",current_number , "Previous number = ",previous_number, "Sum: ",sum)

Current number=  1 Previous number =  0 Sum:  1
Current number=  2 Previous number =  1 Sum:  3
Current number=  3 Previous number =  2 Sum:  5
Current number=  4 Previous number =  3 Sum:  7
Current number=  5 Previous number =  4 Sum:  9
Current number=  6 Previous number =  5 Sum:  11
Current number=  7 Previous number =  6 Sum:  13
Current number=  8 Previous number =  7 Sum:  15
Current number=  9 Previous number =  8 Sum:  17
Current number=  10 Previous number =  9 Sum:  19

#5. Write a Python program to print only those numbers which are divisible of 5.

In [7]:
l=int(input('enter the length of the list'))
list=[]
for i in range(l):
  num=int(input())
  list.append(num)
print(list)
for number in list:
  if number % 5 ==0:
    print(number)

enter the length of the list5
10
20
33
46
55
[10, 20, 33, 46, 55]
10
20
55

#6. Write a Python program to check whether a number is prime or not.

In [8]:
number = int(input("Enter a number"))
for check in range(2,number//2):
  if number%check == 0:
    print(number, "is not a prime number ")
    break
else:
    print(number," is a prime number")

Enter a number3
3  is a prime number

#7. Write a Python program to reverse a list using for loop.

In [9]:
l=int(input('enter the length of the list'))
list=[]
for i in range(l):
  num=int(input())
  list.append(num)
print(list)

reversed_list =[]
for value in list:
  reversed_list = [value] + reversed_list
print(reversed_list)

enter the length of the list4
10
40
30
70
[10, 40, 30, 70]
[70, 30, 40, 10]

#8. Write a Python program to print the following pattern.

In [10]:
n = 5
for i in range(n):
  for j in range(i):
    print("*", end ="")
  print(" ")

*
**
***
****

#9. Write a Python program to find the maximum of three numbers.

In [11]:
num_1 = int(input("Enter the first number"))
num_2 = int(input("Enter the second number"))
num_3 = int(input("Enter the third number"))
if num_1 >num_2 and num_1 > num_3:
  print('The maximum of three numbers is ', num_1)
elif num_2 > num_1 and num_2 > num_3:
  print("The maximum of three numbers is ", num_2)
else:
    print("The maximum of three numbers is ", num_3)

Enter the first number34
Enter the second number12
Enter the third number7
The maximum of three numbers is  34

# 10. Write a Python program to construct the following pattern, using a nested for loop.

In [14]:
n = 5
for i in range(5):
  for j in range(i):
    print("*",end="")
  print("")
# to move down further and to itereate from 5 to 1
for i in range(n,0,-1):
  for j in range(i):
    print("*",end ="")
  print("")

*
**
***
****
*****
****
***
**
*

**PRACTICE EXERCISES 2**

#1. Write a Python program to accept a string value from the user and display the count of each character in that string.

In [15]:
s=input('Enter your string')
str={}
for i in s:
  char=str.keys()
  if i in char:
    str[i]+=1
  else:
    str[i]=1
print(str)

Enter your stringassembly
{'a': 1, 's': 2, 'e': 1, 'm': 1, 'b': 1, 'l': 1, 'y': 1}

#2. Write a Python function to find the maximum of three numbers.

In [17]:
def max(a,b,c):
  if a>b and a>c:
    return a
  elif c>a and c>b:
    return c
  else:
    return b

max(34,12,7)

34

#3. Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp.

In [18]:
def exponent(base,exp):
  return(base**exp)
b= int(input('Enter your base value'))
e=int(input('Enter your exponent value'))
exponent(b,e)
print(exponent(b,e))

Enter your base value2
Enter your exponent value3
8

#4. Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

In [19]:
def proton(n):
  sum=0
  for i in range(1,n):
    sum+= i**3
  print( sum )

posit = int(input('Enter your +ve nuumber'))
proton(posit)

Enter your +ve nuumber4
36

#5. Write a Python program which iterates from 1 to 10. For multiples of 2,print “Fizz” instead of the number and for the multiples of 5, print “Buzz”.For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

In [20]:
for num in range(1,11):
  if num%2==0 and num%5==0:
    print('FizzBuzz')
    continue
  elif num%2==0:
    print('Fizz')
    continue
  elif num%5==0:
    print('Buzz')
    continue
  else:
   print(num)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

#6. Write a Python program to find the most frequent item in a list of numbers.

In [21]:
from statistics import mode
l=int(input('Enter the length of the list'))
list=[]
for i in range(l):
  num=int(input())
  list.append(num)
print(list)

mode(list)

Enter the length of the list6
2
3
4
2
5
2
[2, 3, 4, 2, 5, 2]

2

#7. Write a Python program to find the sum of squares of the numbers in a list.

In [22]:
l=int(input('Enter the length of the list'))
list=[]
for i in range(l):
  num=int(input())
  list.append(num)
print(list)

sum=0
for i in list:
  sum+=i**2
print(sum)

Enter the length of the list4
2
1
3
1
[2, 1, 3, 1]
15

#8.Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even.

In [23]:
for i in range(1,16):
  if i%2==0:
    print(i, "-",'even')
  else:
    print(i, "-", 'odd')

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

#9. Write a Python program to convert temperatures to and from Celsius Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f= temperature in Fahrenheit.]

In [24]:
temp=input('Enter your temperature here')
scale =temp[-1]
value=int(temp[:-1])
if scale =='f':
  new_value =int(round((5*(value-32))/9 ))
  print('Temperature in Celsius ',"=", new_value)
elif scale=='c':
  new_value =int(round(32+(9*value)/5))
  print('Temperature in Farenheit ',"=", new_value)

Enter your temperature here41f
Temperature in Celsius  = 5

#10. Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument.

In [25]:
def factorial(pos_integer):
  fact=1
  for i in range(1,pos_integer+1):
    fact=fact*i
  print(fact)

n=int(input('input your number'))
factorial(n)

input your number3
6